<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <br><%= gravatar_for @user %>
        <%= @user.name %>

      </h1>
    </section>

      <br>
      <% if current_user == @user %>
          <h1>Ай вать нет ? </h1>
          <ul>
            <% @user.requested_friendships.each do |request| %>
                <li>
                  <%= request.email %>
                  <%= link_to "Accept", friendships_update_path(:id => request), :method => :post %>
                  <%= link_to "Decline", friendships_destroy_path(:id => request), :method => :delete %>
                </li>
            <% end %>
          </ul>
      <% end %>
      </br>

    <h1>Мої цібори:</h1>
    <ul>
      <% @user.friends.each do |friend| %>
          <li>
            <%= friend.email %>
            <% if current_user == @user %>
                <%= link_to "Send message", conversation_messages_path(:conversation_id=>friend) %>


            <% end %>
          </li>
      <% end %>
    </ul>


  </aside>
</div>